.active, .accordion:hover {
    background-color: #ccc;
  }
  .collapsible {
    background-color: #eee;
    border-radius: 40px;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 70px;
    border: none;
    top:5%;
    left:5%;
    text-align: left;
    outline: none;
    font-size: 15px;
    align-items: center;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
    background-color: #ccc;
  }
.srch{
    width:213px;
    background-color: white;
}
  
  /* Style the collapsible content. Note: hidden by default */
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }
  .inside
  {
      width: 100%;
      height: 30%;
      white-space: nowrap;
      padding-left: 20%;
      padding-right: 20%;
      size: inherit;
      overflow: hidden;
      text-overflow: ellipsis;
      align-items: center;
      text-align:center;

  }
  /* Style the accordion panel. Note: hidden by default */
  .colorstrip{
    width: 100%; height: 250px;
    border-style: solid;
    border-color:darkblue;
    background-color:slateblue;
}
body {
  background: gray;
}

.fg--search {
  left:2%;
  background: white;
  position: relative;
  width: 300px;
}

.fg--search input {
  width: 100%;
  padding: 20px 60px 20px 20px;
  display: block;
}

.fg--search button {
  background: transparent;
  border: none;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 18px 20px;
  z-index: 2;
}

.fg--search input:focus + button .fa-search {
  color: red;
}
.head
{
  font-size: 70px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color:white;
  text-align: center;
  left: 30%;
  top:50%;
}

  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  }
  .center
  {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image:url("../data/image7.png"); 
    background-repeat: no-repeat;
    background-size: cover;
    padding:5%;
    align-items:center;
    border: 2px solid blueviolet;
  }
  .lg{
    position: absolute;
    height:100px;
    width: 300px;
    left: 95%;
    top:2%;
  }
  .collap {
    line-height: 50px;
    height: 50px;
    width: 50px;
    font-size: 30;
    font-family: tahoma;
    margin-top: 1px;
    margin-right: 2px;
    position:absolute;
    top:0;
    right:0;
}
.butdiv
{
  margin: auto;
  top:20%;
  right: 20%;
  align-items: center;
}

.tabs
{
  left:100px;
  border-radius: 20px;
  background-color:deepskyblue;
  height: 200px;
  width: 400px;
}
.tabs:hover
{
  background-color:cyan;
}
.tabs:focus
{
  background-color:dodgerblue;
  border-color:mediumblue;
}
.butab
{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color:floralwhite;
  font-size: 25;
  font-weight: bold;
  text-align: center;
}