
<div>
<div *ngFor="let items of bookings">
    <label >Booking ID :{{items.bookingId}}</label><br/>
    <label>User ID :{{items.userId}}</label><br/>
    <label>Booking Date :{{items.bookingDate}}</label><br/>
    <label>Passengers List:</label>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">No.</th>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">UIN</th>
            <th scope="col">Luggage</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of items.passengerList">
            <td>{{p.pnrNumber}}</td>
            <td>{{p.passengerName}}</td>
            <td>{{p.passengerAge}}</td>
            <td>{{p.passengerUIN}}</td>
            <td>{{p.luggage}}</td>
          </tr>
          
        </tbody>
      </table><br/>
      <label>Ticket Cost :{{items.ticketCost}}</label><br/>
      <label>Scheduled Flight ID :{{items.scheduledFlight.scheduledFlightId}}</label><br/>
      <label>Flight No. :{{items.scheduledFlight.flight.flightNumber}}</label><br/>
      <label>Carrier Name :{{items.scheduledFlight.flight.carrierName}}</label><br/>
      <label>Flight Model :{{items.scheduledFlight.flight.flightModel}}</label><br/>
      <label>Seat Capacity :{{items.scheduledFlight.flight.seatCapacity}}</label><br/>
      <label>Available Seats :{{items.scheduledFlight.availableSeats}}</label><br/>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Schedule</th>
            <th scope="col">Airport Code</th>
            <th scope="col">Airport Name</th>        
            <th scope="col">Airport Location</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Source Airport</th>
            <td>{{items.scheduledFlight.schedule.sourceAirport.airportCode}}</td>
            <td>{{items.scheduledFlight.schedule.sourceAirport.airportName}}</td>
            <td>{{items.scheduledFlight.schedule.sourceAirport.airportLocation}}</td>
          </tr>
          <tr>
            <th scope="row">Destination Airport</th>
            <td>{{items.scheduledFlight.schedule.destinationAirport.airportCode}}</td>
            <td>{{items.scheduledFlight.schedule.destinationAirport.airportName}}</td>
            <td>{{items.scheduledFlight.schedule.destinationAirport.airportLocation}}</td>
          </tr>      
        </tbody>
      </table> <br/>
     <label>Arrival Time :{{items.scheduledFlight.schedule.arrivalTime}}</label><br/>
     <label>Departure Time :{{items.scheduledFlight.schedule.departureTime}}</label><br/>
     <label>No. of Passengers :{{items.noOfPassengers}}</label><br/>
     <br/>
      <br/></div>
      <br/>
<button class="btn btn-success" type="button" (click)="onSubmit()">Confirm Booking</button>
<button (click)="gotoViewAll()" class="btn btn-success" type="button">View Booking</button><br/>
<!-- <h1>Your Booking is Confirmed</h1> -->
</div>