.center{
    position: absolute;
    left: 40%;
    top: 5%;
    border: 2px solid blueviolet;
    padding: 100px;
    box-shadow: cornflowerblue;
    background-color:white;
    shape-outside: margin-box;
   
}
h3{
    text-align: center;
    font-weight: bold;
}
.center1
{
  position: relative;
  align-items: center;
  left: 20%;
  right:50%;
  padding: auto;
}
.right
{
    position: absolute;
    height:100px;
    width: 300px;
    left: 95%;
    top:2%;
}