<h3>View Airport Details</h3>
<br />
<br />

<div>
    <div>
        <label><b>Airport Code: </b></label> {{airport.airportCode}}
    </div>
    <div>
        <label><b>Airport Name: </b></label> {{airport.airportName}}
    </div>
    <div>
        <label><b>Airport Location: </b></label> {{airport.airportLocation}}
    </div>
    
</div>
<br />
<br />
<div>
<button (click)="goToAirportList()" class="btn btn-primary">Back to Airport List</button>
</div>
<br />


<div>
<button (click)="goToHome()" class="btn btn-danger">Back to Home</button>
</div>