<div class = "colorstrip">
  
    &nbsp;<h1 class="text-center">Welcome to Flight Services</h1>
    <div class = "lg"><button class = "btn btn-secondary" (click) = "home()">Home</button></div>
    <br/>
  </div>
  
<br/>
<br/>
<br/>
<br/>
<br/>
  <div class="container">
<button (click)="goToFlightList()" class="button1">Flight List</button>
</div><br />
<br/>

<div class="container">
<button (click)="goToAddFlight()" class="button2">Add Flight</button>
</div> 
    
      <footer class="footer">
        <div class="container">
          <span>All Rights Reserved 2021 @Capg</span>
        </div>
      </footer>