<div [hidden]="submitted" style="width: 400px; margin-left: auto;margin-right: auto;">
    <h3>Add Airport</h3>
    <form (ngSubmit)= "onSubmit()">
    <div class="form-group">
        <label>Airport Code</label>
        <input input type="text" placeholder="Airport Code" required #airportCode="ngModel" pattern="^[a-zA-Z]{1,9}$" [class.is-invalid]="airportCode.invalid && airportCode.touched" class="form-control" id="airportCode" required [(ngModel)]="airport.airportCode" name="airportCode">
        <small class="text-danger" [class.d-none]="airportCode.valid || airportCode.untouched">Code should contain max 5 letters</small>
    </div>
    <div class="form-group">
        <label>Airport Name</label>
        <input type="text" placeholder="Airport Name" required #airportName="ngModel" [class.is-invalid]="airportName.invalid && airportName.touched" class="form-control" id="airportName" required [(ngModel)]="airport.airportName" name="airportName">
      <small class="text-danger" [class.d-none]="airportName.valid || airportName.untouched">Name is required</small>
    </div>
    <div class="form-group">
        <label>Airport Location</label>
        <input type="text" placeholder="Airport Location" required #airportLocation="ngModel" [class.is-invalid]="airportLocation.invalid && airportLocation.touched" class="form-control" id="airportLocation" required [(ngModel)]="airport.airportLocation" name="airportLocation">
      <small class="text-danger" [class.d-none]="airportLocation.valid || airportLocation.untouched">Location is required</small>
    </div>
    <button class="btn btn-success" type="submit" >Submit</button>
    </form>
    </div>
    <div [hidden]="!submitted">
        <h4>You added successfully!</h4>
      </div>
      <br>
      <br>
      <button (click)="goToAirportList()" class="btn btn-primary">Back to Airport List</button>
      <br />
      <br />
      <br />
      <button (click)="goToHome()" class="btn btn-danger">Back to Home</button>
    
