
<div class = "colorstrip">
  
  &nbsp;<h1 class="text-center">Welcome to Airport Services</h1>
  <div class = "lg"><button class = "btn btn-secondary" (click) = "home()">Home</button></div>
  <br/>
</div>


<br/>
<br/>
<br/>
<br/>
<br/>
  <div class="container">
<button (click)="goToAirportList()" class="button1">Airport List</button>
</div><br />
<br/>

<div class="container">
<button (click)="goToAddAirport()" class="button2">Add Airport</button>
</div> 
    
      <footer class="footer">
        <div class="container">
          <span>All Rights Reserved 2021 @Capgemini</span>
        </div>
      </footer>
      
